In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
import psycopg2
from sqlalchemy import create_engine

## Creating the Database

In [3]:
dbserver = psycopg2.connect(
    host = 'postgres',
    user = 'postgres',
    password = POSTGRES_PASSWORD,
    port = 5432
)
dbserver.autocommit = True

In [4]:
cursor = dbserver.cursor()

In [5]:
try:
    cursor.execute('CREATE DATABASE artipy')
except:
    cursor.execute('DROP DATABASE artipy')
    cursor.execute('CREATE DATABASE artipy')

In [4]:
engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}'.format(
    user = 'postgres',
    password = POSTGRES_PASSWORD,
    host = 'postgres',
    port = 5432,
    db = 'artipy'
))

Need to upload:
* merged_spotify
* artworks

In [10]:
spotify = pd.read_csv('merged_spotify2.csv')

In [11]:
artists = pd.read_csv('artists.csv')

In [12]:
print(artists.shape[0])

17428

In [13]:
artists.to_sql('artists', con=engine, index=False, chunksize=1000, if_exists = 'replace')

17428

In [14]:
print(spotify.shape[0])

44043

In [15]:
spotify.to_sql('spotify', con=engine, index=False, chunksize=1000, if_exists = 'replace')

44043

In [16]:
myquery = '''
SELECT name, artists_names, release_date
FROM spotify
ORDER BY release_date ASC
'''

df = pd.read_sql_query(myquery, con=engine)
df

,name,artists_names,release_date
0,"Chopin: Piano Sonata No. 2 in B-Flat Minor, Op...","Frédéric Chopin, Aimi Kobayashi",1900
1,Hold You - Hold Yuh,Gyptian,1900-01-01
2,Crazy Blues (Alternate Take),Mamie Smith,1920-04-08
3,Jack I'm Mellow (Alternate Take 2),Trixie Smith,1922-06-03
4,A Jealous Woman Like Me,Sippie Wallace,1924-05-27
...,...,...,...
44038,Nocturno,Emilio Montoya,2023-11-27
44039,Havana,Emilio Montoya,2023-11-27
44040,Crash,Charles Berthoud,2023-11-27
44041,Hey! Sunny!,SpecialThanks,2023-11-28
44042,竜の落とし子,May Forth,2023-11-29

In [5]:
myquery = '''
SELECT *
FROM artists
WHERE genres = 'mexican hip hop'
'''

df = pd.read_sql_query(myquery, con=engine)
df

             genres               artist_id        artist_name
0   mexican hip hop  058UB4RScZTwG7bPiH79Ps         Ali Masare
1   mexican hip hop  0U5RYP2HMdGv2GhicLhkOI          Neto Peña
2   mexican hip hop  0XVOL55Wa1lbWs1tAsv5nf  Berbal La 4 Verde
3   mexican hip hop  0l1OSQn6GtjfEE1Cb8LE1t             Zimple
4   mexican hip hop  1FCItwxfRieMGhR0eRxotU         Rich Vagos
5   mexican hip hop  1gPiNBRjOB9XochAAFR3iM          West Gold
6   mexican hip hop  1oHPSeQJBwNmpq0J52Wjn1          Toser One
7   mexican hip hop  1txbs9MMkT4FszkaA96atm      Coko Yamasaki
8   mexican hip hop  2Gcx4c9rFAAloAYV2cMGUd              Proof
9   mexican hip hop  2NtN73hhhgFt2NmbBOlFz1     Under Side 821
10  mexican hip hop  2wqy0ojBEcx7OvHezdGDXQ          W. Corona
11  mexican hip hop  3vV4Tf1iC8vEP9fLOLGUfP    La Banda Baston
12  mexican hip hop  4Hzj6dfl1y5x5TzCSsvLB6     Remik Gonzalez
13  mexican hip hop  4V2V4PaSblStayYVWTGDbZ         Geassassin
14  mexican hip hop  4tm8CEdm4pkQsEh4jIr9Yp      Santa Fe Klan
15  mexican hip hop  5MRMYpdAWZawm3ivBeWvdK     Teeam Revolver
16  mexican hip hop  6DjBv6gyR1HLsvwGUOD5V9        TREN LOKOTE
17  mexican hip hop  6JG2QQcaQBzinELNvu9PRk       Bipo Montana
18  mexican hip hop  6eXHRfK9Ad3IpMpSAqvcDf           Lefty Sm
19  mexican hip hop  6tJRAxu0HwB2GI9GueEj4l         Faruz Feet
20  mexican hip hop  74OPWhLPyLylAzgqcJlNMm          Fermin IV
21  mexican hip hop  7j8jaHM5LlrFnDxJTbG2wr     Alexis Chaires
22  mexican hip hop  7sgnuH8OwU32WbGLZwD03q         Neto Reyno
23  mexican hip hop  7zvcqoLiInqmSmPzX0gwfp          Chato 473
24  mexican hip hop  7zvcqoLiInqmSmPzX0gwfp          Chato 473